// Local zones configuration for {{ domain_name }}

zone "{{ domain_name }}" {
    type master;
    file "/etc/bind/db.{{ domain_name }}";
    allow-transfer { {{ allow_transfer | join('; ') }}; };
    also-notify { {{ also_notify | join('; ') }}; };
    allow-query { any; };
    notify yes;
};

